DATABASE_URL="postgresql://user:password@host/dbname?sslmode=verify-full"
JWT_SECRET="isi-dengan-teks-acak-panjang"

# CORS_ORIGIN="https://employee-management-system-five-orcin.vercel.app"
# PORT=3000